/* **************************** Combining Selectors **************************** */

/* 
1. Multiple Selectors

selector1, selector2 {

}

2. Hierarchial Selecotrs

parentSelector childSelector {

}


3. Combined Selector (without space between the selectors)

selector1.selector2{

}

selector1#selector2{
	
}

#selector1.selector2{
	
}

*/

body {
	font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

#title {
	background-color: #ff4c68;
	color: #fff;
}

.container-fluid {
	padding: 3% 15% 7%;
}

.navbar {
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: "Ubuntu", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.position-for-img {
	position: relative;
}

.iphone-img {
	max-width: 60%;
	transform: rotate(25deg);
	position: absolute;
	left: 150px;

	/* z-index: 1; */

	/* width: 400px;
	transform: rotate(25deg);
	position: absolute;
	margin: 0 0 0 3%; */
}

#features {
	padding: 7% 20%;
	background-color: #fff;
	position: relative;
	/* z-index: 1; */
}

.download-button {
	margin: 5% 3% 5% 0;
}

h1 {
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 900;
}
h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}
.features-icon {
	color: #ef8172;
	/* padding-bottom: 25%; */
	margin-bottom: 1rem;
}

.features {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
}

.features-para {
	color: #8f8f8f;
}

.features-div {
	text-align: center;
	padding: 5%;
}

.features-icon:hover {
	color: #ff4c68;
}

.testimonial-img {
	/* border-radius: 50%; */
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#testimonials {
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}

.carousel-item-div {
	padding: 7% 15%;
}

#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-img {
	width: 15%;
	/* border-radius: 100%; */
	margin: 20px 20px 50px;
}

#pricing {
	padding: 7% 15%;
}

.pricing-col {
	padding: 3% 2%;
	text-align: center;
}

@media (max-width: 1028px) {
	#title {
		text-align: center;
	}

	.iphone-img {
		position: static;
		transform: rotate(0);
	}
}

#cta {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	background-color: #ff4c68;
	padding: 7% 20%;
}

.cta-h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 2%;
}

#footer {
	text-align: center;
	background-color: #fff;
	padding: 7% 20%;
}

.footer-logo {
	padding: 1%;
}

.copyright {
	margin-top: 1%;
	color: #8f8f8f;
}
